/node_modules
/public/hot
/public/storage
/public/videocall
/public/vendor
/storage/*.key
/vendor
/storage
/resources/lang
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/lang
/public/videocallAttachments
may11bkp_withoutstorage.zip
.env.example
/wolves
/wolves_old
/email-test
old.zip
test.php
index.html
.htaccess
/public/uploads
composer.json
composer.lock
bootstrap
/storage/framework
/bootstrap/cache/
/public/setting_images/